:root{
    --dk-blue:#2C3E50;
    --green:#17BC9D;
    --blue:#3B546D;
}

/* //utils */
.bg-blue{
    background-color: var(--blue);
}
.bg-dk-blue{
    background-color: var(--dk-blue);
}
.bg-green{
background-color: var(--green);
}
.text-green{
    color: #17BC9D;
}
/* generic */
li{
    list-style-type: none;
}

.avatar{
    height: 200px;
}

a{
    text-decoration: none;
}

.bi-star-fill{
    transform: translateY(-2px);
}
.star{
    display: flex;
    justify-content: center;
    align-items: center;
}
.star.dark:before,
.star.dark:after{
    content: '';
    display: inline-block;
    background-color: var(--dk-blue);

    
    height: 2px;
    width: 100px;
    
    margin: 0 20px;
}
.star::before, 
.star:after{
    content: '';
    display: inline-block;
    background-color: #fff;
    
    height: 2px;
    width: 100px;
    
    margin: 0 20px;
}